*{
    margin: 0;
    padding: 0;
}
.main_head, .first_sec{
    background-color: #1f2937;
}
.main_head{
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_head > ul{
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
a{
    text-decoration: none;
    padding: 5px 15px;
    opacity: 0.7;
    color: #e5e7eb;
}
.main_head > li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col_first_sec > h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}
.col_first_sec > p{
    color: #e5e5e5;
    font-size: 18px;
}
.col_first_sec > img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
button{
    background-color: #3882f6;
    width: 120px;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 4px;
}
.row_first_sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}
.col_first_sec{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-content: center;
    margin: 100px;
    justify-content: space-evenly;
}
.second_sec{
    background-color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.second_sec > h2{
    color: #1f2937;
    font-weight: 36px;
    font-weight: 800;
    text-align: center;
}
.second_sec > img{
    border: 3px solid #3882f6;
    border-radius: 4px;
    width: 150px;
    height: 150px;
}
.second_sec > p{
    color: gray;
}
.third_sec{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
#author{
    font-weight: bold;
    text-align: right;
}
footer > h3, footer > p, footer > button{
    background-color: #3882f6;
}




















